<div id="blog" class="page">
    <div class="container">
        <div class="row">
            <div class="span12">
              <div class="title-page">
                <h2 class="title">Blog & Publications</h2>
                <h3 class="title-description">Recent entries </h3>
              </div>
            </div>
        </div>


        <div class="row">

            <div class="span9">
                <div class="row">
                    <section id="recentposts">
                        <ul id="thumbs">
                            {{ range first 3 (where .Site.Pages "Type" "post") }}
                            <div class="span3">
                                <li class="item-thumbs">
                                    <a class="hover-wrap fancybox" data-fancybox-group="recent" href="{{ .Site.BaseURL}}img/banner/{{ .Params.banner }}" title="{{ .Title }}">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-zoom-in"></span>
                                    </a>
                                    <img src="{{ .Site.BaseURL}}img/banner/{{ .Params.banner }}" alt="{{ .Summary }}">
                                </li>

                                <h5 class="text_align_center"><a href="{{ .Permalink }}">{{ .Title }}</a></h5>
                            </div>
                            {{ end }}
                        </ul>
                    </section>
                </div>

                <div class="row">
                    <div class="span9" style="background:rgb(228, 170, 57)">
                        <h4 class="text_align_center"> <a href="{{ .Site.BaseURL }}post/" target="_blank"> Explore all posts </a> </h4>
                    </div>
                </div>

            </div>



            <div class="span3">
                <h3 class="font-icon-layer"> Categories</h3>
                <ul>
                    {{ range $name, $items := .Site.Taxonomies.categories }}
                    <li><a href="{{ $.Site.BaseURL }}categories/{{ $name | urlize | lower }}">{{ $name }} ({{ len $items }})</a>
                    </li>
                    {{ end }}
                </ul>

                <div class="sidebar-widget widget_tag_cloud">
                    <h3 class="font-icon-tags"> Tags</h3>
                    <div class="tagcloud">
                        <ul>
                            {{ range $name, $items := .Site.Taxonomies.tags }}
                            <li><a href="{{ $.Site.BaseURL }}tags/{{ $name | urlize | lower }}"><i class="fa fa-tags"></i> {{ $name }}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>
