<!-- Js -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!-- jQuery Core -->
<script src="{{ .Site.BaseURL }}/js/bootstrap.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/placeholder.js"></script>
<script src="{{ .Site.BaseURL }}/js/placeholders.min.js"></script>
<!-- Bootstrap -->
<script src="{{ .Site.BaseURL }}/js/supersized.3.2.7.min.js"></script>
<!-- Slider -->
<script src="{{ .Site.BaseURL }}/js/waypoints.js"></script>
<!-- WayPoints -->
<script src="{{ .Site.BaseURL }}/js/waypoints-sticky.js"></script>
<!-- Waypoints for Header -->
<script src="{{ .Site.BaseURL }}/js/jquery.isotope.js"></script>
<!-- Isotope Filter -->
<script src="{{ .Site.BaseURL }}/js/jquery.fancybox.pack.js"></script>
<!-- Fancybox -->
<script src="{{ .Site.BaseURL }}/js/jquery.fancybox-media.js"></script>
<!-- Fancybox for Media -->
<script src="{{ .Site.BaseURL }}/js/jquery.tweet.js"></script>
<!-- Tweet -->
<script src="{{ .Site.BaseURL }}/js/plugins.js"></script>
<!-- Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi -->
<script src="{{ .Site.BaseURL }}/js/main.js"></script>
<!-- Default JS -->
<!-- End Js -->
