{{ partial "widgets/search.html" . }}

<div class="sidebar-widget widget_text">
  <h3 class="sidebar-header">About Us</h3>
  <div class="textwidget">
      <p>Atuamos no segmento de <strong>Inteligência Competitiva</strong> e <strong>Caracterização Físico-química</strong> de materiais que oferece soluções que contribuem para acelerar o desenvolvimento de produtos, processos e serviços, P&D e questões regulatórias.</p>
      <!-- <p>Time to meet our team of technology and business <strong>professionals</strong>. Let us help your business reach it’s potential.</p> -->
  </div>
</div>

{{ partial "widgets/categories.html" . }}

{{ partial "widgets/tags.html" . }}
