<!DOCTYPE html>
<html lang="en">

{{ partial "headpost.html" . }}

<body>

    <!-- This section is for Splash Screen -->
    <div class="ole">
        <section id="jSplash">
            <div id="circle"></div>
        </section>
    </div>
    <!-- End of Splash Screen -->

    {{ partial "navblog.html" . }}

    <div id="content" class="page">
        <div class="container">
            <div class="row">

                <div class="span12 wrapper">
                    <div class="banner" id="inner">
                        <img class="banner-image"  alt=" {{.Title}} " src="{{ .Site.BaseURL}}img/banner/{{ .Params.banner }}">
                    </div>
                </div>

                <!-- *** LEFT COLUMN *** -->
                <div class="span9" id="blog-listing-medium">

                    <header class="post-head small-screen-center">
                        <h1 class="post-title"> {{.Title}} </h1>
                        <div class="post-details">
                            <span class="post-date">
                                        <i class="font-icon-time"></i> {{ .Date.Format "January 2, 2006" }}
                                      </span>
                            <span class="post-author">
                                        <i class="font-icon-user"></i> <a href="#">{{ .Params.author }}</a>
                                      </span>
                        </div>
                    </header>

                    <div class="post-body">
                        {{ .Content }}
                    </div>
                    <!-- /#post-content -->
                    {{ if .Site.DisqusShortname }}
                    <div id="comments">
                        {{ template "_internal/disqus.html" . }}
                    </div>
                    {{ end }}
                </div>
                <!-- *** LEFT COLUMN END *** -->

                <!-- *** RIGHT COLUMN *** -->
                <div class="span3">
                    {{ partial "sidebar.html" . }}
                </div>
                <!-- *** RIGHT COLUMN END *** -->
            </div>
        </div>
    </div>
    <!-- /#content -->

    {{ partial "footer.html" . }} {{ partial "backtop.html" . }}


</body>

</html>
